.first_section {
  overflow: hidden;

  &__img {
    position: relative;
  }

  &__img img{
    width: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    left:50%;
    transform:translate(-50%, 0);
    padding: 75px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .fs__name_wrap {
      display: flex;
      align-items: center;
    }

    .fs__name {
      font-size: 29px;
      font-weight: 700;
      color: white;
      text-align: center;
    }

    .fs__img {
      width: 41px;
    }

    .fs__par {
      padding-top: 140px;
      font-size: 21px;
      color: white;
      text-align: center;
    }

    .fs__title {
      line-height: 53px;
      font-size: 41px;
      color: white;
    }

    .fs__par2 {
      font-size: 27px;
      color: white;
    }

    .fs__open_modal {
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;

      &_img {
        width: 75px;
        cursor: pointer;
      }

      &_text {
        color: white;
        font-size: 19px;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .first_section {
    &__content {
      top: 12%;

      .fs__name {
        font-size: 32px;
      }

      .fs__title {
        font-size: 45px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .first_section {
    &__content {
      min-width: 600px;

      .fs__par {
        padding-top: 40px;
        font-size: 19px;
      }

      .fs__title {
        font-size: 35px;
      }

      .fs__par2 {
        text-align: center;
        font-size: 19px;
      }

      .fs__open_modal {
        margin-top: 20px;

        &_text {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .first_section {

    &__content {
      top: 7%;
      min-width: 650px;
      padding: 15px 5px;

      .fs__name {
        font-size: 25px;
      }

      .fs__img {
        width: 35px;
      }

      .fs__par {
        padding-top: 35px;
        font-size: 21px;
      }

      .fs__title {
        font-size: 37px;
      }

      .fs__par2 {
        font-size: 21px;
      }

      .fs__open_modal {
        margin-top: 20px;

        &_img {
          width: 60px;
        }
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .first_section {
    overflow: hidden;

    &__img img{
      width: 160%;
    }
    &__content {
      top: 10%;
      min-width: 570px;
      padding: 15px 5px;

      .fs__name {
        font-size: 25px;
      }

      .fs__img {
        width: 35px;
      }

      .fs__par {
        padding-top: 55px;
        font-size: 19px;
      }

      .fs__title {
        font-size: 29px;
      }

      .fs__par2 {
        font-size: 19px;
      }

      .fs__open_modal {
        margin-top: 25px;

        &_img {
          width: 60px;
        }
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .first_section {
    overflow: hidden;

    &__img img{
      width: 280%;
    }
    &__content {
      top: 15%;
      min-width: 410px;
      padding: 15px 5px;

      .fs__name {
        font-size: 25px;
      }

      .fs__img {
        width: 35px;
      }

      .fs__par {
        padding-top: 85px;
        font-size: 19px;
      }

      .fs__title {
        font-size: 29px;
      }

      .fs__par2 {
        font-size: 19px;
      }

      .fs__open_modal {
        margin-top: 25px;

        &_img {
          width: 60px;
        }

        &_text {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 411px) {
  .first_section {
    overflow: hidden;

    &__img img{
      width: 310%;
    }
    &__content {
      top: 13%;
      min-width: 380px;
      padding: 15px 5px;

      .fs__name {
        font-size: 25px;
      }

      .fs__img {
        width: 35px;
      }

      .fs__par {
        padding-top: 85px;
        font-size: 19px;
      }

      .fs__title {
        font-size: 29px;
      }

      .fs__par2 {
        text-align: center;
        font-size: 19px;
      }

      .fs__open_modal {
        margin-top: 25px;

        &_img {
          width: 60px;
        }

        &_text {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 379px) {
  .first_section {
    overflow: hidden;

    &__img img{
      width: 330%;
    }
    &__content {
      top: 10%;
      min-width: 310px;
      padding: 15px 5px;

      .fs__name {
        font-size: 25px;
      }

      .fs__img {
        width: 35px;
      }

      .fs__par {
        padding-top: 45px;
        font-size: 19px;
      }

      .fs__title {
        font-size: 29px;
      }

      .fs__par2 {
        text-align: center;
        font-size: 19px;
      }

      .fs__open_modal {
        margin-top: 25px;

        &_img {
          width: 50px;
        }

        &_text {
          font-size: 14px;
        }
      }
    }
  }
}